---
- name: fetch installer
  get_url:
    url: https://mirror.openshift.com/pub/openshift-v4/clients/ocp/{{ ocp_version }}/openshift-install-linux-{{ ocp_version }}.tar.gz
    dest: /var/tmp/openshift-install-linux-{{ ocp_version }}.tar.gz
    validate_certs: no
  environment:
    http_proxy: "{{ http_proxy }}"
    https_proxy: "{{ https_proxy }}"

- name: fetch clients
  get_url:
    url: https://mirror.openshift.com/pub/openshift-v4/clients/ocp/{{ ocp_version }}/openshift-client-linux-{{ ocp_version }}.tar.gz
    dest: /var/tmp/openshift-client-linux-{{ ocp_version }}.tar.gz
    validate_certs: no
  environment:
    http_proxy: "{{ http_proxy }}"
    https_proxy: "{{ https_proxy }}"

- name: extract installer
  become: true
  unarchive:
    src: /var/tmp/openshift-install-linux-{{ ocp_version }}.tar.gz
    dest: /usr/local/bin
    mode: +x
    remote_src: yes

- name: extract clients
  become: true
  unarchive:
    src: /var/tmp/openshift-client-linux-{{ ocp_version }}.tar.gz
    dest: /usr/local/bin
    mode: +x
    remote_src: yes

- name: fetch vcenter certs
  get_url:
    url: https://{{ vcenter_hostname }}/certs/download.zip
    dest: /var/tmp/vcenter-certificate-bundle.zip
    validate_certs: no
  environment:
    noproxy_url: "{{ vcenter_hostname }}"

- name: ensure vcenter-certs directory exists
  file:
    path: /var/tmp/vcenter-certs/
    state: directory

- name: extract vcenter certs
  become: true
  unarchive:
    src: /var/tmp/vcenter-certificate-bundle.zip
    dest: /var/tmp/vcenter-certs/
    remote_src: yes

- name: install vcenter certs to trust
  shell: |
    cp /var/tmp/vcenter-certs/lin/* /etc/pki/ca-trust/source/anchors
    update-ca-trust extract

- name: ensure ssh-keys directory exists
  file:
    path: "{{ secrets_directory }}/ssh_keys"
    state: directory

- name: generate SSH key
  openssh_keypair:
    path: "{{ secrets_directory }}/ssh_keys/nodes"
    type: ed25519
    size: 4096
    state: present
    force: no

- name: configure ssh-agent
  shell: 
    eval "$(ssh-agent -s)" 
    ssh-add {{ secrets_directory }}/ssh_keys/nodes

- name: Create install folder
  file:
    path: "{{ install_dir }}"
    state: directory

- name: Copy install-config.yaml
  template:
    src: templates/install-config.j2
    dest: "{{ install_dir }}/install-config.yaml"

# Comment out for now to test rest of the steps
#- name: Setup the OCP cluster
#  command: "/usr/local/bin/openshift-install create manifests --dir {{ install_dir }} --log-level debug"
#  environment:
#    http_proxy: "{{ http_proxy }}"
#    https_proxy: "{{ https_proxy }}"
#    no_proxy: "{{ no_proxy }}"
