apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: appofapps
  namespace: argocd
spec:
  destination:
    namespace: argocd
    server: 'https://kubernetes.default.svc'
  project: default
  source:
    path: {{appofapps_path}}
    helm:
      valueFiles:
      - {{ appofapps_valuefile | default('values.yaml') }}
    repoURL: 'ssh://git@gitserver.acme.com:7999/ocp/argocd.git'
  syncPolicy:
    automated:
      prune: true
      selfHeal: true