{
  "ignition": {
    "config": {
      "append": [
        {
          "source": "http://{{webserver}}/pub/{{ env_name }}/bootstrap.ign", 
          "verification": {}
        }
      ]
    },
    "timeouts": {},
    "version": "2.1.0"
  },
  "networkd": {},
  "passwd": {},
  "storage": {},
  "systemd": {}
}
