apiVersion: v1
baseDomain: "{{ base_domain }}"
compute:
- hyperthreading: Enabled
  name: worker
  replicas: 0
controlPlane:
  hyperthreading: Enabled
  name: master
  replicas: 3
metadata:
  name: {{ env_name | lower}}
proxy:
  httpProxy: http://serviceproxy.com.acme.com:8100
  httpsProxy: http://serviceproxy.com.acme.com:8100
  noProxy: "{{ no_proxy }}"
networking:
  clusterNetwork:
  - cidr: {{ cluster_cidr }}
    hostPrefix: 23
  networkType: OpenShiftSDN
  serviceNetwork:
  - {{ service_network}}
platform:
  vsphere:
    vcenter: "{{ vcenter_hostname }}"
    username: "{{ vcenter_cloudprovider_user }}"
    password: "{{ vcenter_cloudprovider_password }}"
    datacenter: "{{ vcenter_datacenter }}"
    defaultDatastore: "{{ vcenter_pv_datastore }}"
pullSecret: '{{ pull_secret }}'
sshKey: '{{ ssh_key }}'
additionalTrustBundle: |
  {{ ca_bundle | indent(width=2) | indent(width=2, indentfirst=true) }}
