apiVersion: argoproj.io/v1alpha1 
kind: Application
metadata:
  name: appofapps
  namespace: openshift-gitops
spec:
  destination:
    namespace: openshift-gitops
    server: 'https://kubernetes.default.svc'
  project: default
  source:
    path: {{appofapps_path}}
    repoURL: {{ gitops_repo_url }}
    targetRevision: HEAD
  syncPolicy:
    automated:
      prune: true
      selfHeal: true