apiVersion: v1
kind: Secret
metadata:
  name: private-key
  namespace: openshift-gitops
type: Opaque
stringData:
  sshPrivateKey: |
{{ lookup('file', '{{ repo_pvt_ssh_key_file }}') | indent(4, true) }}