apiVersion: v1
baseDomain: "{{ base_domain }}"
compute:
- hyperthreading: Enabled
  name: worker
  replicas: {{ workers_replicas | default(3) }}
  platform:
    vsphere:
      cpus: {{workers_cpu | default(4) }}
      coresPerSocket: 2
      memoryMB: {{workers_ram | default(16384) }}
      osDisk:
        diskSizeGB: {{workers_disk | default(100) }}
controlPlane:
  hyperthreading: Enabled
  name: master
  replicas: 3
  platform:
    vsphere:
      cpus: {{masters_cpu | default(4) }}
      coresPerSocket: 2
      memoryMB: {{masters_ram | default(16384) }}
      osDisk:
        diskSizeGB: {{masters_disk | default(120) }}
metadata:
  name: {{ cluster_name | lower}}
{% if proxy %}
proxy:
  httpProxy: "{{ http_proxy }}"
  httpsProxy: "{{ https_proxy }}"
  noProxy: "{{ no_proxy }}"
{% endif %}
networking:
  clusterNetwork:
  - cidr: "{{ cluster_network_cidr }}"
    hostPrefix: {{ cluster_network_prefix }}
  machineNetwork:
  - cidr: "{{ machine_network_cidr }}"
  networkType: OpenShiftSDN
  serviceNetwork:
  - "{{ service_network_cidr }}"
platform:
  vsphere:
    vcenter: "{{ vcenter_hostname }}"
    username: "{{ vcenter_username }}"
    password: "{{ vcenter_password }}"
    datacenter: "{{ vcenter_datacenter }}"
    defaultDatastore: "{{ vcenter_pv_datastore }}"
    folder:  "{{ vm_dir_path }}"
    network: "{{ vm_network }}"
    cluster: "{{ vm_cluster }}"
    apiVIP: "{{ apiVIP }}"
    ingressVIP: "{{ ingressVIP }}"
fips: false
pullSecret: '{{ pull_secret }}'
sshKey: '{{ lookup('file', '{{ secrets_directory }}/ssh_keys/nodes.pub') }}'
{% if additional_trust_bundle != "" %}
additionalTrustBundle: |
  '{{ additional_trust_bundle }}'
{% endif %}
